* {
    margin: 0;
    padding: 0;
    font-family:'Roboto', monospace;
    box-sizing: border-box;
  }
  
  body {
    background: #1c1b1b;
    /*background: linear-gradient(to bottom, #0a0a0a, #120416);*/
    background-attachment: fixed;
    color: #fff;
    min-height: 100vh;
  }
  
  #header {
    position: relative;
    width: 100%;
    height: 100vh;
    /*background: linear-gradient(to bottom, #000000, rgba(50, 0, 50, 0.1));
    background-size: cover;
    background-position: center;
    */
  }

  #fibonacciCanvas {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it stays in the background */
    pointer-events: none; /* Allow clicks to go through the canvas */
  }
  
  /* Navigation Bar at Top Center */
  nav {
    position: absolute;
    top: 20px;       /* Adjust spacing from the top as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    list-style: none;
    margin: 0 8px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    margin: 0 10px;
  }
  
  nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.3s ease;
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }
  
  /* Header Text on the Middle Left */
  .header-text {
    position: absolute;
    top: 48%;
    left: 11%;
    transform: translateY(-50%);
    font-size: 50px;
    z-index: 1;
  }
  
  .header-text h1 {
    font-size: 50px;
    margin-top: 25px;
    line-height: 1.5;
    color: #fff;
  }
  
  .header-text h1 span {
    color: #16ecb3;;
  }
  
  /* Logo on the Middle Right */
  .logo {
    position: absolute;
    top: 45%;
    right: 15%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .logo img {
    width: 450px;
    height: auto;
    filter: brightness(0.75)
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      top: 10px;
    }
    .header-text {
      text-align: center;
      left: 65%;
      transform: translate(-50%, -50%);
    }
    .logo {
      top: auto;
      bottom: 20px;
      right: 75%;
      transform: translateX(50%);
    }
  }
  
  /* --- about page --- */
  #about .container{
    /* 80px from top/bottom, 0 from left/right*/
    padding: 80px 0%;
    color: #ffffff;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;

  }

  .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about-col-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
  }

  .about-col-1 img {
    height: 400px;
    width: 500px;
    border-radius: 15px;
    margin-right: 50px;
    object-fit: cover;
    transition: mask-image 0.3s ease; /* Smooth transition */
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%); /* Edge fading */
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%); /* For Safari */
}

/* When the image is hovered, make it fully visible and without the fade effect */
.about-col-1 img:hover {
    mask-image: none; /* Remove the shadow, no fade on edges */
    -webkit-mask-image: none; /* Ensure the image returns to its original brightness */
    filter: brightness(1);
}
  
  
.about-col-2{
    flex-grow: 1;
    padding-left: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 14px;
    padding-right: 20px;
}

.sub-title {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: " ";
    width: 0;
    height: 3px;
    background: #16ecb3;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #fff;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* --- services --- */
#services{
    padding: 30px 0;
    padding-left: 50px;
    padding-right: 50px;

}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
    width: 100%;

}

.services-list div {
    padding: 50px;
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
    
}

.services-list div a {
   text-decoration: none;
   color: #fff;
   font-size: 12px;
   margin-top: 20px;
   display: inline-block;
}

.services-list div:hover {
    background: #16ecb3;
    transform: translateY(-10px);
}

/* portofolio (project) section */

#portfolio {
   padding: 30px 0; 
   padding-left: 50px;
   padding-right: 50px;
}

.container {
   /* Optional: You can set a max-width to limit the width */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* This keeps the header aligned to the left */

}

.sub-title {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px; /* Adjust space between the header and images */
}


.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-top: 50px;
    width: 100%;
    

}

.project{
    border-radius: 10px;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
    aspect-ratio: 1/1;

    

}

.project img {
    width: 100%;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    height: 100%;
    transition: transform 0.5s;
}

/* gradiant over project boxes */
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #16ecb3);
  position: absolute;
  border-radius: 10px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;

}

.layer h3 {
  font-weight: 600;
  margin-bottom: 20px;


}

/*links*/
.layer a{
  margin-top: 20px;
  color: #16ecb3;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;

}

.project:hover img{
  transform: scale(1.1);


}

.project:hover .layer {
  height: 100%;
}

.button {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #16ecb3;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
}

.button:hover {
  background: #16ecb3;

}

/*---contact---*/

#contact {
  padding-left: 50px;
  
}

.contact-left{
  flex-basis: 35%;
  /*padding-left: 50px;*/
}
.contact-right{
  flex-basis: 60%;
  
}

.contact-left p{
  margin-top: 30px;
}

.contact-left p i {
  color: #16ecb3;
  margin-right: 15px;
  font-size: 25 px;

}

.social-icons{
  margin-top: 30px;

}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15 px;
  color: #e8e9e9;
  display: inline-block;
  transition: transform 0.5s;

}

.social-icons a:hover {
  color:#16ecb3;
  transform: translateY(-5px);


}

.button.button {
  display: inline-block;
  background: #16ecb3;
}

.contact-right form {
  width: 100%;
  
}

form input, form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;

}

form button2{
  padding: 14px 60px; 
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 300;
}

.copyright i {
  color: #16ecb3;
}

/* making css responsive - small screens*/

@media only screen and (max-width: 600px) {
  
}

#Articles {
  padding: 50px 0; 
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 30px;
}

.container {
  /* Optional: You can set a max-width to limit the width */
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start; /* This keeps the header aligned to the left */

}

.sub-title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px; /* Adjust space between the header and images */

}

.article-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
  display: flex;
}

.article {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;

}

.article img {
  width: 475px;
  border-radius: 10px;
  display: block;
  object-fit: cover;
  height: 450px;
  transition: transform 0.5s;

}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #ffffff);
  position: absolute;
  border-radius: 10px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 20px;
  transition: height 0.5s;
  opacity: 1;

}

.layer h3 {
  font-weight: 600;
  margin-bottom: 20px;
  /*color: ;*/


}

/*links*/
.layer a{
  margin-top: 20px;
  color: #16ecb3;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;

}

.article:hover img{
  transform: scale(1.1);

}

.article:hover .layer {
  height: 100%;
}




